* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.gallery {
  margin: 1em 3em;
  width: 90%;
}

.pokemons {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

figure {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
}